@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
  font-family: 'Nunito Sans', sans-serif;
}

/*
 @media only screen and (min-width: 37.5em) {
      @content;
    } //600px
*/

@media only screen and (max-width: 56.25em) {
  html{
    font-size: 50%; /* 1 rem = 8px, 8/16 = 50% */
  }
} /* 900px */

@media only screen and (max-width: 75em) {
  html{
    font-size: 56.25%; /* 1 rem = 9px, 9/16 = 50% */
  }
} /* 1200px */

@media only screen and (min-width: 112.5em) {
  html{
    font-size: 75%; /* 1rem = 12, 12/16 */    
  }
} /* 1800 */

body {
  box-sizing: border-box;
  letter-spacing: 0.2rem;
  background: #f5f5f5;
}

img {
  width: 100%;
  object-fit: cover;
  transition: 650ms all ease-in-out;
}